@using ProjectManager.Models
@model ProjectManager.Models.BoardViewModel

<header class="main-header" id="@Model.Id">
    <div class="main-header__nav">
        <h1 class="main-header__title">
            <i class="pe-7f-home"></i>
            <span>@Model.Name</span>
        </h1>
    </div>
</header>
<div class="row">
    @foreach (TaskListViewModel list in Model.TaskLists)
            {
        <div class="col-md-3 taskList-@list.Id" id="@list.Id" >
            <article class="widget">
                <header class="widget__header one-btn">
                    <div class="widget__title">
                        <i class="pe-7f-menu pe-rotate-90"></i><h3>@list.Name</h3>
                    </div>
                    <div class="widget__config">
                        <a ><i id="@list.Id" class="pe-7f-target delete_list"></i></a>
                    </div>
                </header>

                <div class="widget__content widget__grid filled pad20">
                    <div class="ui-widget ui-corner-all">
                        <table id="table-@list.Id">

                            @foreach (CardViewModel card in list.Cards)
                            {
                                <tr id="card-@card.Id">
                                    <th>@card.Name : </th>
                                    <th>@card.Description</th>
                                </tr>

                            }
                        </table>

                        <input id="name_new_card-@list.Id" class="form-control" type="text" placeholder="Name" />
                        <input id="description-@list.Id" type="text" class="form-control" placeholder="Description" />

                        <input id="@list.Id" class="create_card btn" type="button" value="Create Card" />
                    </div>
                </div>
            </article>
        </div>
    }
    <div class=" col-md-2" id="name_new_list_">
    <input id="name_new_list" class="form-control" type="text" />
    <input id="create" type="button" class="btn" value="Create List" />
    </div>
</div>
