@using ProjectManager.Models
@using Microsoft.AspNet.Identity
@model ProjectManager.Models.BoardViewModel

<header class="main-header" id="@Model.Id">
    <div class="main-header__nav">
        <h1 class="main-header__title">
            <i class="pe-7f-home"></i>
            <span>@Model.Name</span>
        </h1>

            <table>
            @foreach (var user in Model.Users)
            {
              <tr>
                  <td>
                      @user.Login
                  </td>
                  <td>
                      @if (!(user.Id == User.Identity.GetUserId()))
                      {
                      <input type="button" value="remove" class="remove_user" id="@user.Id" />
                      }
                      else
                      {
                        <input type="button" value=": admin" id="@user.Id" />
                      }                    
                  </td>
              </tr>
            }
           </table>
            
    </div>
</header>
<div class="row">
    @foreach (TaskListViewModel list in Model.TaskLists)
    {
        <div class="col-md-3 taskList-@list.Id" id="@list.Id" >
            <article class="widget">
                <header class="widget__header one-btn">
                    <div class="widget__title">
                        <i class="pe-7f-menu pe-rotate-90"></i><h3>@list.Name</h3>
                    </div>
                    <div class="widget__config">
                        <a ><i id="@list.Id" class="pe-7s-close delete_list"></i></a>
                    </div>
                </header>
                <div class="widget__content widget__grid filled pad20">
                    <div class="ui-widget ui-corner-all" id="table-@list.Id">
                        @foreach (CardViewModel card in list.Cards)
                        {
                            <div class="col-xs-10" id="card-@card.Id">
                                <input  type="text" readonly class="form-control" value="@card.Name" />
                            </div>
                            <div class="col-xs-2" id="card-@card.Id"><a><i id="@card.Id" class="pe-7f-close delete_card"></i></a></div><br id="card-@card.Id" /><br id="card-@card.Id" />
                        }
                        <br class="name_new_card-@list.Id" />
                        <div class="col-xs-9 ">
                            <input id="name_new_card-@list.Id" class="form-control" type="text" placeholder="Name" />
                        </div><div class="col-xs-3">
                            <input id="@list.Id" class="create_card btn" type="button" value="New" />
                        </div><br />
                    </div>
                </div>
            </article>
        </div>
    }
    <div class=" col-md-2" id="name_new_list_">
        <input id="name_new_list" class="form-control" type="text" />
        <input type="button" class="btn create_list" value="Create List" />
    </div>
</div>
