@model ProjectManager.Models.UserRegistrationViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link media="all" href="~/Content/login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="loading">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "form_login", @novalidate = "novalidate", @class = "form_horizontal" }))
        {
            <div class="form-login-error">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4  col-md-offset-4">
                <article class="widget widget__login">
                    <div class="widget__content">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Email" ,@type="text"} })
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Login" } })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Password" } })
                        @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Confirm Password" } })                    
                        <button type="submit" class="btn btn-primary btn-block btn-login">
                            <i class="entypo-login"></i>
                           Register
                        </button>
                        <div type="button" class="btn btn-primary btn-block btn-login">
                            <a class="nav-link" href="@Url.Action("Login","Account")">Log In</a>
                        </div>
                    </div>
                </article>
            </div>
        }
    </div>
</body>
</html>

        
        
                   
