@using ProjectManager.Models
@model IEnumerable<BoardViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="top-bar">
    <ul class="profile"></ul>


    <div class="main-search">
        <input placeholder="Search ..." id="msearch" name="name"  value="" type="text" autocomplete="off">
        <label for="msearch"><i class="pe-7s-search"></i></label>
        <div class="result" ></div>
    </div>
    

    <div class="main-brand">
        <div class="main-brand__container">
            <a class="btn dark" href="@Url.Action("Logout","Account")">Вийти, @User.Identity.Name</a>
        </div>
    </div>
</header>   

<div class="wrapper">
    <aside class="sidebar">
        <ul class="main-nav">
            <li class="main-nav--collapsible">
                <a class="main-nav__link" >
                    <span class="main-nav__icon"><i class="pe-7f-home"></i></span> Dashboard
                    <span id="@Model.Count()" class="badge count badge--line badge--blue">@Model.Count()</span>
                </a>
                <ul class="main-nav__submenu">
                @foreach (BoardViewModel board in Model)
                {
                    <li class="col-xs-10 board-@board.Id">                     
                            @Ajax.ActionLink(board.Name, "GetBoard", "Board", new { id = board.Id }, new AjaxOptions { UpdateTargetId = "results" }, new { @id = "board-"+board.Id })                      
                    </li>
                    <a><li class="col-xs-2"><i id="@board.Id" class="pe-7s-close delete_board"></i></li></a>
                }
                    <li class="qwerty">
                       <div class="col-xs-8">
                           <input class="form-control new_board_name" placeholder="Name"  type="text">
                       </div>  
                        <div class="col-xs-4">
                           <input type="button" value="New" class="create_board  btn" />
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <section class="content">
        <div id="results">
            @Html.Partial("~/Views/Board/GetBoard.cshtml", Model.FirstOrDefault())
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
}
