<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Board</title>
    <link media="all" href="~/Content/index.css" type="text/css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <header class="top-bar">
        <ul class="profile"></ul>
        <div class="main-search">
            <input placeholder="Search ..." id="msearch" value="" type="text">
            <label for="msearch">
                <i class="pe-7s-search"></i>
            </label>
            <button>
                <i class="pe-7g-arrow-circled pe-rotate-90"></i>
            </button>
        </div>

        <div class="main-brand">
            <div class="main-brand__container">
               <a class="btn dark" href="@Url.Action("Logout","Account")">Вийти, @User.Identity.Name</a>               
            </div>
        </div>
    </header>     
    @RenderBody()   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @RenderSection("scripts", required: false)
</body>
</html>
